.required-field label::after {
    content: " *";  
    color: rgb(255, 0, 0); 
    font-weight: bold;
}


/* Calender */

#calendar-container {
    max-width: 1200px;  /* Begrenze die Breite, damit es nicht zu groß wird */
    margin: auto;  /* Zentriert den Kalender */
    background: rgb(77, 137, 163);
    border-radius: 10px;
}

#calendar {
    height: 700px;  /* Feste Höhe für den Kalender */
    width: 100%;
}

.fc-toolbar {
    background: #007bff;
    color: rgb(0, 0, 0);
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

/* .fc-daygrid-event {
    background-color: #28a745 !important;
    color: rgb(0, 0, 0) !important;
    border: none;
    border-radius: 5px;
} */